<mat-toolbar color="primary">
  <span>Generate DRF serializers from JSON</span>
  <span class="spacer"></span>
  <button mat-icon-button onClick="window.open('https://www.linkedin.com/in/kutay-aslan-8137a7155/')">
    <i class="fab fa-linkedin fa-2x"></i>
  </button>
  <button mat-icon-button onClick="window.open('https://github.com/titans55/json-to-drf-serializers')">
    <i class="fab fa-github fa-2x"></i>
  </button>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-12 mt-3 text-center">
      <button mat-raised-button color="primary" class="mb-3 text-right" (click)="initSerializer();"
        [disabled]="!nameOfTheRootSerializer">Generate</button>
    </div>
    <div class="col-sm-12 col-md-6 pt-1">
      <div class="d-flex justify-content-between mt-1">
        <mat-form-field appearance="outline">
          <mat-label>Indent Type</mat-label>
          <mat-select [(ngModel)]="selectedIndentType" (selectionChange)="setDefaultIdentSize($event)">
            <mat-option [value]="indentType" *ngFor="let indentType of indentTypes">{{indentType.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Indent Size</mat-label>
          <mat-select [(ngModel)]="selectedIndentSize">
            <mat-option *ngFor="let option of selectedIndentType.options" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="w-100 h-100" appearance="outline">
        <mat-label>JSON</mat-label>
        <textarea rows="30" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          [(ngModel)]="jsonData"></textarea>
        <mat-hint>Copy your JSON here</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-6 pt-1">
      <div class="d-flex justify-content-between mt-1">
        <mat-form-field appearance="outline">
          <mat-label>Name of the root serializer</mat-label>
          <input matInput [(ngModel)]="nameOfTheRootSerializer" required>
        </mat-form-field>
        <mat-checkbox class="mt-3" [(ngModel)]="isSnakeCasePreferred" [color]="'primary'">
          Follow "snake_case" convention for attributes
        </mat-checkbox>
      </div>
      <ngx-editor class="h-100" [ngModel]="serializer" [disabled]="true"></ngx-editor>
    </div>
  </div>
</div>